/*.container {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
}

.logo {
    max-width: 227px;
    border-radius: 10%;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    color: #fff;
    text-align: center;
    margin: 24px 0;
}

.form label {
    color: #fff;
    font-size: 20px;
}

input {
    width: 100%;
    height: 48px;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
    padding: 0 14px;
    margin: 8px 0px 16px 0px;
}

.button {
    width: 100%;
    height: 48px;
    background-color: #119cea;
    border-radius: 4px;
    border: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #0d76b3;
    color: #fff;
}

.result {
    background-color: #00b63e;
    width: 100%;
    max-width: 420px;
    padding: 20px 28px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    transition: transform 0.8s;
}

.result:hover {
    transform: scale(1.1);
}

.result-title {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    margin-bottom: 16px;
}

.result span {
    color: #fff;
    margin-bottom: 8px;
}
*/
/*
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.logo {
    max-width: 350px;
}

.title {
    color: #fff;
    margin: 14px 0;
}

.category-area {
    display: flex;
    gap: 14px;
    margin-bottom: 34px;
}

.category-button {
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.button-frase {
    background-color: #1fa4db;
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.button-frase:hover {
    background-color: #0d76b3;
    border:1px solid  #fff;
}

.texto-frase {
    width: 420px;
    background-color: #fafafa;
    border-radius: 4px;
    text-align: center;
    padding: 14px 22px;
    margin: 24px 0 16px 0;
    line-height: 150%;
    color: #dd7b22;
    font-style: italic;
    font-size: 18px;
}
*/

